In [6]:
print(1)
print(2)

1
2

In [7]:
import pandas

In [8]:
df=pandas.read_csv("existing.csv")
df

       id first_name   last_name                       email
0       1  Gabriello    Jordison        gjordison0@google.es
1       2   Jourdain       Marty      jmarty1@mayoclinic.com
2       3     Borden       Imlen        bimlen2@sakura.ne.jp
3       4  Sylvester  Jacobowitz        sjacobowitz3@tiny.cc
4       5   Faulkner   Hilbourne        fhilbourne4@live.com
..    ...        ...         ...                         ...
995   996    Camella   Yitzowitz  cyitzowitzrn@microsoft.com
996   997       Esta  Scotchmore      escotchmorero@usgs.gov
997   998       Roxy    Leverson    rleversonrp@mashable.com
998   999     Darius   Wardroper       dwardroperrq@jugem.jp
999  1000      Hyman     Larcier   hlarcierrr@macromedia.com

[1000 rows x 4 columns]