In [3]:
import os
os.listdir()

['annual-enterprise-survey-2020-financial-year-provisional-csv.csv',
 '.DS_Store',
 'Untitled.ipynb',
 'supermarkets.json',
 'Loading files exercise.ipynb',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets-commas.txt']

In [4]:
import pandas

In [5]:
df01=pandas.read_csv("supermarkets.csv")

In [6]:
df01

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
df01["Continent"]=df01.shape[0]*["North America"]

In [9]:
df01

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [10]:
df01["Continent"]=df01["Country"]+ "," + "North America"

In [11]:
df01

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"

In [12]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [13]:
nom.geocode("2510 lovetree St, San Antonio, TX78232")

GeocoderServiceError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)

In [14]:
nom = ArcGIS()

In [19]:
nom.geocode("2510 Love Tree St, San Antonio, TX 78232")

Location(2510 Lovetree St, San Antonio, Texas, 78232, (29.575351020123506, -98.45404902401103, 0.0))

In [18]:
nom.geocode("3995 23rd Street, San Francisco, CA 94114")

Location(3995 23rd St, San Francisco, California, 94114, (37.75292099814533, -122.43170295955227, 0.0))

In [20]:
df01

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"

In [21]:
import pandas
df02=pandas.read_csv("supermarkets.csv")
df02

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [24]:
df02["Address"]=df02["Address"]+ ", "+["City"]+ ", "+["State"]+ ", "+["Country"]
df02

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, City, State, Country",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, City, State, Country",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, City, State, Country",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, City, State, Country",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, City, State, Country",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, City, State, Country",San Francisco,CA 94114,USA,Richvalley,20

In [25]:
df02["Coordinates"]=df02["Address"].apply(nom.geocode)
df02

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, City, State, Country",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St NW, Canton, Ohio, 44708, (40.822..."
1,2,"735 Dolores St, City, State, Country",San Francisco,CA 94119,USA,Bready Shop,15,"(ST, (0.2393107930000724, 6.602059996000037))"
2,3,"332 Hill St, City, State, Country",San Francisco,California 94114,USA,Super River,25,"(ST, (0.2393107930000724, 6.602059996000037))"
3,4,"3995 23rd St, City, State, Country",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 SE 23rd St, Oklahoma City, Oklahoma, 731..."
4,5,"1056 Sanchez St, City, State, Country",San Francisco,California,USA,Sanchez,12,"(ST, (0.2393107930000724, 6.602059996000037))"
5,6,"551 Alvarado St, City, State, Country",San Francisco,CA 94114,USA,Richvalley,20,"(ST, (0.2393107930000724, 6.602059996000037))"